.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
}
.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 1rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
}
.card:hover {
  transform: translateY(-3px);
}
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
}
.card .price {
  color: #0074d9;
  font-weight: 600;
  margin-bottom: 1rem;
}
.layout {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 20px;
  padding: 20px;
  transition: 0.3s;
}
.card-actions {
  margin-top: auto;      
  display: flex;
  gap: 10px;
}

.card-actions .btn {
  flex: 1;             
  text-align: center;
}

.sidebar {
  background: #f4f4f4;
  padding: 15px;
  border-radius: 6px;
  height: fit-content;
  transition: 0.3s;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
}

.sidebar li:hover {
  background: #e67e22;
  color: white;
}

.content {
  width: 100%;
}

.btn{
  background-color: #e09443;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;

}

.btn:hover {
  background: #e59656;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


.toggle-btn {
  background: #d57627;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 10px;
}

.sidebar.collapsed {
  width: 60px;
  padding: 10px;
}

.sidebar.collapsed .sidebar-title,
.sidebar.collapsed .sidebar-list {
  display: none;
}

.layout.collapsed {
  grid-template-columns: 60px 1fr;
}

.sidebar li.active a {
  background: #d57627;
  color: #fff;
  border-radius: 4px;
  padding: 6px;
  display: block;
}

.sidebar a {
  text-decoration: none;        
  color: #333;
  display: block;
  padding: 8px 10px;
  border-radius: 4px;
  font-weight: 500;
  transition: background 0.2s, color 0.2s;
}

.sidebar a:hover {
  background: #e67e22;
  color: #fff;
}

.sidebar li.active a {
  background: #d57627;
  color: #fff;
}