table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}
th, td {
  border: 1px solid #ccc;
  padding: 0.6rem;
  text-align: left;
}
th {
  background: #eee;
}
td.right {
  text-align: right;
}